<section class="default-breadcrumbs hidden-print" id="breadcrumb">
  <div class="container">
  <h3 class="sr-only">Breadcrumbs</h3>
  <div class="row">
    <div class="col-sm-24">
      <ol class="breadcrumb">
        <li>
          <a href="https://jakarta.ee/">Home</a>
        </li>
        <li>
          <a href="https://jakarta.ee/projects/">Projects</a>
        </li>
        <li class="active">
          <a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
        </li>
      </ol>
    </div>
  </div>
</section>
