<ul class="list-inline">
  <li><a href="https://accounts.eclipse.org/user/edit" class="" data-tab-destination="tab-profile">Edit my account</a></li>
  <li><a class="toolbar-link toolbar-manage-cookies dropdown-toggle">Manage Cookies</a></li>
  <li class="language-selector dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
      <span> English</span>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="https://jakarta.ee/">English</a></li>
      <li><a href="https://jakarta.ee/zh/">简体中文</a></li>
    </ul>
  </li>
  <li class="dropdown eclipse-more hidden-xs">
    <a data-toggle="dropdown" class="dropdown-toggle" role="button"><i class="fa fa-search"></i> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>

        <div class="yamm-content">
          <div class="row">
            <div class="col-sm-24">
              <p><strong>Search</strong></p>
              <div class="row">
                <div class="col-md-24">
                  <div id="custom-search-form" class="reset-box-sizing margin-bottom-10">
                    <form class="form-inline" action="https://www.eclipse.org/home/search" method="get">
                      <div class="form-group">
                        <input class="form-control" type="textfield" name="q" placeholder="Search">
                        <input class="btn btn-primary" type="submit" value="Submit">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>
